/* YOUR STYLING HERE */
button {
  margin-left: 10px;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0rem 10rem;
}

ul {
  margin-left: 10px;
  background-color: lightblue;
}

li {
  margin: 10px;
  padding: 1rem;
}
